@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    line-height: 1.7rem;
  }
  html {
    font-size: 16px;
    font-family: -apple-system, "Helvetica Neue", BlinkMacSystemFont, Arial,
      "Hiragino Kaku Gothic", Roboto, "Noto Sans CJK JP", "Segoe UI", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  body {
    color: var(--fg);
    background: var(--bg);
    @apply leading-8 max-w-screen-md mx-auto;
    -webkit-text-size-adjust: 100%;
  }

  main article {
    @apply py-0 mb-8 px-4 md_article:px-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply my-2 px-4 py-2 text-3xl  text-center;
  }
  h2 {
    @apply mt-8 mb-8 pt-[8px] pb-[10px]  text-2xl;
    border-bottom: solid 1px var(--border);
    border-left: solid 8px var(--link);
    padding-left: 12px;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  article h2 a {
    color: var(--fg);
  }
  article h3 a {
    color: var(--fg);
  }
  article h4 a {
    color: var(--fg);
  }
  article h5 a {
    color: var(--fg);
  }
  article h6 a {
    color: var(--fg);
  }
  h3 {
    @apply my-6;

    font-size: 1.3rem;
    line-height: 1.75rem;
    border-left: solid 4px var(--link);
    padding-left: 8px;
  }
  h4 {
    @apply my-4 text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-base;
  }
}

@layer utilities {
  /**/
  main article figure {
    @apply my-6;
  }

  main article p {
    @apply my-6;
  }
  /* Table */
  table {
    @apply my-6;
  }
  table,
  thead,
  th,
  tbody,
  tr,
  td {
    @apply p-1 px-2;
    border: solid 1px var(--border);
  }

  /* List */
  main article img {
    @apply my-4;
  }
  main article ul {
    @apply pl-6 my-6;
  }
  main article ul li {
    @apply list-disc;
  }
  main article ul li ul {
    @apply my-0;
  }
  main article ul li p {
    @apply my-0;
  }
  main article ol {
    @apply pl-6 my-6;
  }
  main article ol li {
    @apply list-decimal;
  }
  main article ol li ol {
    @apply my-0;
  }
  main article ol li p {
    @apply my-0;
  }

  /* Link */
  article a {
    @apply hover:underline break-all;
    color: var(--link);
  }

  footer {
    border-top: solid 1px var(--border);
  }

  pre {
    @apply mb-6 py-4 px-8 overflow-auto rounded-lg;
    max-height: 540px;
  }

  p code {
    @apply text-sm;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: var(--code-bg);
    color: var(--code-fg);
  }
  li code {
    @apply text-sm;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: var(--code-bg);
    color: var(--code-fg);
  }
  code span {
    @apply text-sm;
    margin-top: 2px;
    margin-bottom: 2px;
  }

   {
    box-shadow: none;
  }

  blockquote {
    @apply m-6 px-4;
    color: var(--quote);
    border-left: solid 4px var(--quote);
  }
}

@layer components {
  .strong-color {
    color: var(--link);
  }
  .content-image {
    @apply w-full h-auto;
    max-height: 540px;
    background-color: var(--bg-artwork);
  }
  .content-image-article {
    @apply w-full h-auto max-h-[540px] xs:max-h-[400px];
    background-color: var(--bg-artwork);
  }
  .caption {
    border-top: solid 4px var(--link);
  }
  .tag {
    @apply inline-block mr-1 hover:underline;
    color: var(--link);
  }

  .emoji {
    height: 120px;
    font-size: 100px;
  }
  .top-article {
    border-bottom: solid 1px var(--border);
  }
}

@media {
  :root {
    --fg: #000000;
    --bg: #ffffff;
    --bg-artwork: #dddddd;
    --border: #aaaaaa;
    --link: #d50000;
    --quote: #666666;
    --linkcard: #aaaaaa;
    --menu: #666666;
    --code-fg: #222222;
    --code-bg: #eeeeee;

    /* --link: #4070ff; */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #ffffff;
    --bg: #000000;
    --bg-artwork: #222222;
    --border: #aaaaaa;
    --link: #88c0dd;
    --quote: #9c9c9c;
    --linkcard: #666666;
    --menu: #9c9c9c;
    --code-fg: #dddddd;
    --code-bg: #222222;
  }
}
