@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont,  'Helvetica Neue', ヒラギノ角ゴシック, 'Segoe UI', Roboto, system-ui, sans-serif;
  margin: 0px;
  padding: 0px;
  border-color: #ccc;
  /* background-color: #fff; */
}

body {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight:normal;
}
h3 {
  font-size: 21px;
  font-weight:normal;
}

ul {
  list-style: none;
}

.title-image {
  background-color: #ddd;
  padding: 0;
}

.content-image {
  background-color: #ddd;
  padding: 0;
  object-fit: contain;
  max-height: 440px;
}
.header-shadow {
  --tw-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.5);
  box-shadow: var(--tw-shadow);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid;
  border-color: #ccc;
  border-width: 1px;
}

.card {
  margin: 12px;
  padding: 8px;
  max-width: 100%;

  border-style: solid;

  border-radius: 5px;
  border-width: 1px;
}

.card-image {
  padding: 0;
  border-style: none;
}

.card-shadow {
  border-style: none;
  box-shadow: 0 1px 5px #aaa;
}