---
import type { MarkdownHeading } from "@astrojs/markdown-remark";

const { headings } = Astro.props;
const tocHeadings: MarkdownHeading[] = headings.filter(
  (heading: MarkdownHeading) => heading.depth <= 3,
);
---

<nav
  class="group px-6 py-2 mx-4 my-12 md:mx-12 rounded-md bg-(--code-bg) border border-(--border) collapsed"
>
  <button
    class="w-full flex justify-between items-center bg-transparent border-none cursor-pointer p-0 text-left"
    type="button"
  >
    <h2 class="m-0 text-lg text-(--fg)">目次</h2>
    <span
      class="text-sm text-(--menu) transition-transform duration-200 ease-in-out group-[.collapsed]:-rotate-90"
      >▼</span
    >
  </button>
  <ul
    class="list-none m-0 p-0 overflow-hidden transition-[max-height] duration-300 ease-in-out max-h-250 mt-2 group-[.collapsed]:max-h-0 group-[.collapsed]:mt-0!"
  >
    {
      tocHeadings.map((heading) => (
        <li
          class:list={[
            "my-1 list-none",
            {
              "pl-0": heading.depth === 1,
              "pl-8": heading.depth === 2,
              "pl-16": heading.depth === 3,
            },
          ]}
        >
          <a
            class="text-(--menu) no-underline block hover:text-(--fg) hover:underline"
            href={`#${heading.slug}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const nav = document.querySelector("nav.group");
    const tocToggle = nav?.querySelector("button");

    if (tocToggle && nav) {
      tocToggle.addEventListener("click", () => {
        nav.classList.toggle("collapsed");
      });
    }
  });
</script>
