---
import type { ArtworkData } from "@/lib/artworks";
import { WIDTH_MAIN as w_md } from "@/lib/constant";
import { Picture } from "astro:assets";
import { getThumbnailSize } from "@/lib/artworks.ts";
import type { ImageMetadata } from "astro";

type Props = {
  artworks: Array<ArtworkData>;
  artwork_number: number;
  artwork_id: string;
};

const { artworks, artwork_number, artwork_id } = Astro.props;
const scale = 0.27;
const image_size = w_md * scale;
const class_width = `w-[27%]`;
const images = import.meta.glob<{ default: ImageMetadata }>("/public/images/artworks/*");
const image = async (path: string) => {
  const image = await images[path]();
  return getThumbnailSize(image.default, image_size);
};
---

<div
  id="artworks_id"
  class="overflow-x-scroll border-t flex-nowrap"
  data-message={artwork_number}
  data-scale={scale}
>
  <div class="flex">
    {
      artworks.map(async (artwork) => (
        <div class={"flex-none px-1 py-2 h-auto " + class_width}>
          <a href={"/artworks/" + artwork.id}>
            <Picture
              class={
                "m-0 aspect-square object-cover rounded-md bg-white" +
                "w-full" +
                (artwork_id === artwork.id
                  ? " border-2 border-(--link)"
                  : " hover:opacity-40 transition-opacity")
              }
              src={(await image(artwork.src)).src}
              quality={20}
              width={(await image(artwork.src)).width}
              height={(await image(artwork.src)).height}
              alt={artwork.title}
              priority={false}
              loading={"lazy"}
            />
          </a>
        </div>
      ))
    }
  </div>
</div>

<script>
  import { WIDTH_MAIN as w_md } from "@/lib/constant";
  const element: HTMLElement | null = document.getElementById("artworks_id");
  if (element) {
    const artwork_number: number = Number(element.dataset.message);
    const scale = Number(element.dataset.scale);
    const scrollLeft =
      (w_md *
        scale *
        (artwork_number - (1 - scale) / (2 * scale)) *
        Math.min(window.innerWidth, w_md)) /
      w_md;
    element.scrollLeft = scrollLeft;
  }
</script>
