<header class="h-16 flex px-4 border-b border-b-[var(--border)]">
  <h2 class="border-none font-bold my-auto text-xl px-0">
    <a href="/">創作物紹介</a>
  </h2>
  <ul class="flex ml-auto my-auto">
    <li class="text-base xs:text-lg">
      <a href="/artworks">Artworks</a>
    </li>
    <li class="ml-4 text-base xs:text-lg">
      <a href="/articles">Articles</a>
    </li>
  </ul>
</header>
