---
import { siX } from "simple-icons";

const { url, title, tags } = Astro.props;
const shareURL = encodeURI(
  `https://x.com/share?url=${"https://omemoji.com" + url + `&text=${title}&hashtags=創作物紹介,${tags.toString()}`}`
);
---

<a
  href={shareURL}
  target="_blank"
  rel="noopener"
  class="bg-black ml-auto mr-4 border h-10 w-10 my-auto p-2 rounded-md border-[color:var(--border)] hover:bg-white transition-colors fill-white hover:fill-black"
>
  <Fragment set:html={siX.svg} class="h-8 w-9" />
</a>
