---
import { siX } from "simple-icons";
import { dictionary } from "@/data/dictionary.json";

const { url, title, tags } = Astro.props;
const tags_tmp = tags.map((tag: string) => tag);
const dict = JSON.parse(JSON.stringify(dictionary));
const additionalTags: string[] = tags_tmp
  .map((tag: string) => dict[tag])
  .filter((tag: string | undefined) => tag !== undefined);
const SNSTags = tags_tmp.concat(additionalTags);
console.log(SNSTags);
const shareURL = encodeURI(
  `https://x.com/intent/post?url=${"https://omemoji.com" + url + `&text=${title}&hashtags=創作物紹介,${SNSTags.toString()}`}`
);
---

<a
  href={shareURL}
  target="_blank"
  rel="noopener"
  class="bg-black ml-auto mr-4 border h-10 w-10 my-auto p-2 rounded-md border-[color:var(--border)] hover:bg-white transition-colors fill-white hover:fill-black"
>
  <Fragment set:html={siX.svg} class="h-8 w-9" />
</a>
