---
import { siGithub, siInstagram, siX, siPixiv, siZenn, type SimpleIcon } from "simple-icons";

const SNSlist: { icon: SimpleIcon; href: string }[] = [
  {
    icon: siGithub,
    href: "https://github.com/omemoji",
  },
  {
    icon: siInstagram,
    href: "https://instagram.com/omemoji",
  },
  {
    icon: siX,
    href: "https://x.com/omemoji_art",
  },
  {
    icon: siZenn,
    href: "https://zenn.dev/omemoji",
  },
  {
    icon: siPixiv,
    href: "https://www.pixiv.net/users/65949346",
  },
];
---

<div class="flex my-auto ml-auto">
  {
    SNSlist.map((sns) => (
      <div class="w-6 h-6 ml-3  ">
        <a href={sns.href} target="_blank" rel="noopener" class="w-6 h-6 fill-(--fg)">
          <Fragment set:html={sns.icon.svg} class="w-6 h-6" />
        </a>
      </div>
    ))
  }
</div>
