---
import { Picture } from "astro:assets";
import omemoji from "@/assets/omemoji.png";

const menus = [
  { title: "omemoji", category: "About", emoji: "👤", href: "/" },
  { title: "Artworks", category: "Artworks", emoji: "🎨", href: "/artworks" },
  { title: "Articles", category: "Articles", emoji: "🖊", href: "/articles" },
];

const { title, description } = Astro.props;
---

<div>
  <div class="py-8 justify-center border-b border-[color:var(--border)]">
    <Picture
      src={omemoji}
      width={240}
      height={240}
      class="mx-auto rounded-full h-40 w-40"
      quality={80}
      formats={["avif"]}
      alt="omemoji"
      priority={true}
    />
    <div class="my-auto text-center mx-auto">
      <h1>{title}</h1>
      <p class="text-xl px-4">{description}</p>
    </div>
  </div>
</div>
